* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.corp {
    width: 100%;
    height: 100vh;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.height-1 {
    height: 100%;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.f-wrap {
    flex-wrap: wrap;
}

.padding-b30 {
    padding-bottom: 30px;
}

.padding-t30 {
    padding-top: 30px;
}

li {
    list-style: none;
}

.bianco {
    color: white;
}

.gray {
    color: #808080;
}

main {
    width: 100%;
    height: calc(100% - 90px);
}

main nav {
    float: left;
    width: 230px;
    background-color: #000000;
    color: #808080;
    overflow-y: hidden;
}

main .nav-top {
    min-height: 370px;
    height: calc(100% - 80px);
    overflow: hidden;
}

main nav .nav-top #logo img {
    width: 80%;
    padding: 20px;
}

main nav .nav-top #logo-small {
    display: none;
}

main nav .nav-top .nav-playlist {
    padding: 20px;
    overflow-y: hidden;
}

main nav .nav-top .nav-playlist .menu-list {
    height: 80%;
    overflow-y: auto;
}

main nav .nav-top .nav-main ul li {
    padding-left: 20px;
}

main nav .nav-top a {
    display: flex;
    align-items: center;
    color: #808080;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

nav .nav-top .nav-main img {
    width: 23px;
    filter: invert(0.2);
    margin-right: 5px;
}

nav .nav-top .nav-main ul li:first-child {
    border-left: 3px solid #ADFF2F;
    padding-left: 17px;
}

nav .nav-top .nav-playlist h3{
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

nav .nav-top .nav-playlist #add-playlist {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: #808080;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    margin: 10px 10px 10px 0;
}

nav .nav-top a:hover,
nav .nav-top a:hover img {
    color: white;
    filter: none;
}

nav .nav-top a:hover #add-playlist {
    background-color: white;
}

/* nav bottom  */

nav .nav-bottom {
    height: 80px;
    padding: 10px 20px;
}

nav .nav-bottom .install-app {
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    font-size: 12px;
    margin-bottom: 10px;
    filter: invert(0.3);
}

nav .nav-bottom .install-app img {
    width: 15px;
    margin-right: 10px;
}

nav .nav-bottom .user-profile {
    font-size: 13px;
    font-weight: bold;
}

nav .nav-bottom .user-profile img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 10px;
}

nav .nav-bottom .install-app:hover,
nav .nav-bottom .install-app:hover img {
    color: white;
    filter: none;
}

main .content .wrapper {
    padding: 100px 10px 20px;
    color: white;
}

main .content .upgrade {
    position: fixed;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 80px;
    text-align: right;
}

main .content .upgrade #upgrade-btn{
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 40px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
}

main .content .wrapper .nav-content .nav-content-list li {
    text-transform: uppercase;
    color: #808080;
    font-size: 12px;
    padding: 10px;
}

main .content .wrapper .nav-content .nav-content-list li:hover {
    color: white;
}
   
main .content .wrapper .albums > h2 {
    font-size: 20px;
} 

main .content .wrapper h4 {
    font-size: 15px;
    text-align: center;
    padding: 15px 0 10px;
} 

main .content .wrapper span {
    font-size: 12px;
    color: #808080;
    text-align: center;
} 

.content .wrapper .albums .albums-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% / 6);
    cursor: pointer;
    padding: 0 5px;
}

@media screen and (max-width: 1100px) {
    .content .wrapper .albums .albums-list li {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    .content .wrapper .albums .albums-list li {
        width: 50%;
    }
}

.content .wrapper .albums .albums-list li img {
    width: 100%;
    height: 100%;
}

.content .wrapper .albums .albums-list li .album-img {
    position: relative;
}

.content .wrapper .albums .albums-list li .layover {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content .wrapper .albums .albums-list li .layover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.content .wrapper .albums .albums-list li:hover .layover {
    display: block;
}

.content .wrapper .albums .albums-list .circle-img {
    border-radius: 50%;
}
